<script setup lang="ts">
import { PageLayout } from '@/shared/ui';
import { ref as storageRef, listAll, getDownloadURL } from 'firebase/storage';
import { useFirebaseStorage, useStorageFile } from 'vuefire';

const storage = useFirebaseStorage();
const images = storageRef(storage, 'images');

const urls = ref([]);

listAll(images).then((file) => {
  file.items.forEach((itemRef) => {
    getDownloadURL(itemRef).then((url) => {
      urls.value.push(url);
    });
  });
});
</script>

<template>
  <PageLayout>
    <template #header>
      <n-gradient-text type="info">
        История распознанных изображений
      </n-gradient-text>
    </template>

    <n-space
      v-if="!urls.length"
      class="app-loader"
      justify="center"
    >
      <n-spin size="large" />
    </n-space>

    <n-space vertical>
      <n-image
        v-for="(item, index) in urls"
        :key="index"
        width="300"
        :src="item"
      />
    </n-space>
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-gradient-text {
  font-size: 36px;
}
</style>
