<script setup lang="ts">
import type { Common } from '@/shared/types';

defineProps({
  crumbs: {
    type: Array as PropType<any[]>,
    required: true,
    default: () => [],
  },
});
</script>

<template>
  <component
    :is="href ? 'router-link' : 'span'"
    v-for="({ href, name }, index) in crumbs"
    :key="index"
    class="m-breadcrumbs"
    :class="{ 'm-breadcrumbs_no-link': !href }"
    :to="href"
  >
    {{ name }}
  </component>
</template>

<style lang="scss" scoped>
.m-breadcrumbs {
  font-size: 20px;
  text-decoration: none;
  flex: 0 0 auto;

  &:not(&_no-link) {
    color: #7090b6;
  }

  &::after {
    content: '/';
  }

  &:last-child {
    &::after {
      content: '';
    }
  }
}
</style>
