<script setup lang="ts">
import type { FormInst } from 'naive-ui';

import { rulesInitial } from './consts';

import type { FormLogin } from '../../types';

defineProps({
  isLoading: {
    type: Boolean as PropType<boolean>,
    default: false,
  },
});

const formRef = ref<FormInst | null>(null);

const formValues = defineModel<FormLogin>({
  default: () => ({
    email: null,
    password: null,
  }),
});

const showModal = defineModel('showModal', {
  default: false,
});

const rule = computed(() => rulesInitial());

const emits = defineEmits<{
  (e: 'auth', v: FormLogin): void;
}>();

const submitForm = () => {
  formRef.value?.validate((errors) => {
    if (!errors) {
      emits('auth', formValues.value!);
    }
  });
};

const closeHandler = () => {
  showModal.value = false;
};

onUnmounted(() => {
  formValues.value = {
    email: null,
    password: null,
  };
});
</script>

<template>
  <n-form
    ref="formRef"
    :model="formValues"
    :rules="rule"
  >
    <n-form-item
      label="E-mail"
      path="email"
    >
      <n-input v-model:value="formValues.email" />
    </n-form-item>

    <n-form-item
      label="Пароль"
      path="password"
    >
      <n-input v-model:value="formValues.password" />
    </n-form-item>

    <n-space
      align="center"
      justify="end"
    >
      <n-button
        round
        :loading="isLoading"
        type="success"
        @click.prevent="submitForm"
      >
        Войти
      </n-button>

      <n-button
        :loading="isLoading"
        round
        secondary
        @click.prevent="closeHandler"
      >
        Отменить
      </n-button>
    </n-space>
  </n-form>
</template>

<style lang="scss" scoped></style>
