<script setup lang="ts"></script>

<template>
  <div class="container">
    <n-space
      vertical
      align="center"
    >
      <n-text>
        Copyright © 2024-present Makarov & Vite, Vue, Firebase
      </n-text></n-space
    >
  </div>
</template>

<style lang="scss" scoped></style>
