<script setup lang="ts">
import { PageLayout } from '@/shared/ui';
</script>

<template>
  <PageLayout>
    <template #header>
      <n-gradient-text type="info"> Инструкция </n-gradient-text>
    </template>

    <n-list>
      На нашем сайте вы можете загружать изображения и видео для распознавания
      объектов с помощью YOLOv8. Пожалуйста, следуйте этим рекомендациям:

      <n-list-item>
        <n-thing
          title="Основные функции сайта:"
          description="Раздел распознавания фото: Позволяет загружать изображения для распознавания объектов, также имеется поиск по ключевым словам. После успешного распознавания вы можете сохранить результат себе на устройство"
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Раздел распознавания видео: "
          description=" Позволяет загружать видео для распознавания объектов, также имеется поиск по ключевым словам. После успешого распознавания вы можете сохранить результат себе на устройство"
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Раздел история:  "
          description="Позволяет просматривать полученные раннее результаты и при необходимости вы можете сохранить их себе на устройство"
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Раздел распознавания видео: "
          description=" Позволяет загружать видео для распознавания объектов, также имеется поиск по ключевым словам. После успешого распознавания вы можете сохранить результат себе на устройство"
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Форматы файлов:  "
          description=" Принимаются изображения в форматах JPG, PNG и видео в форматах MP4, AVI."
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Размер файлов:  "
          description=" Максимальный размер файла — 100 МБ для изображений и 1000 МБ для видео."
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Качество"
          description=" Для достижения наилучших результатов используйте изображения высокого разрешения без размытия."
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          title="Датасеты"
          description="Датасеты — это коллекции данных, используемые для обучения и тестирования алгоритмов машинного обучения. Вот как вы можете их использовать:
Поиск датасетов: Вы можете найти датасеты на таких платформах, как Kaggle, Google Dataset Search или специализированных ресурсах по компьютерному зрению.
Форматы датасетов: Обычно датасеты содержат набор изображений и соответствующие аннотации. Форматы аннотаций могут варьироваться, но популярными являются XML (Pascal VOC), csv файлы и JSON (COCO)."
        />
      </n-list-item>

      <n-list-item>
        <n-thing
          description="   Общие рекомендации Учитывайте что чем больше фото или длиннее видео, тем
      больше займет процесс распознавания. Авторские права: Убедитесь, что у вас
      есть права на использование изображений и видео. Чувствительный контент:
      Избегайте загрузки изображений и видео, содержащих чувствительный контент
      или личную информацию."
        />
      </n-list-item>
    </n-list>
  </PageLayout>
</template>

<style lang="scss" scoped>
.n-gradient-text {
  font-size: 36px;
}
</style>
